app = "crayon"
primary_region = "iad"

[build]
  [build.args]
    NEXT_PUBLIC_GITHUB_CLIENT_ID = "Ov23liSRt3zwGSbluKs5"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 512
